@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BaseLibrary uses code-first migration to evolve the database over time</p>
<p>BaseLibrary represents a base component library that will be extended by another library</p>
<p>Migration were added to this project as follows:</p>
<ol>
    <li>
        Enable migrations:<br />
        <code>Enable-Migrations -ProjectName BaseLibraryMigrations -StartUpProjectName BaseLibrary.Web -ContextProjectName BaseLibrary</code>
    </li>
    <li>
        Scaffold a migration for the initial database creation:<br />
        <code>Add-Migration InitialCreate -ProjectName BaseLibraryMigrations -StartUpProjectName BaseLibrary.Web</code>
    </li>
</ol>

<h4>Options for creating the database used by BaseLibrary.Web</h4>

<p>BaseLibrary.Web does <strong>not</strong> use the database created just for the classes in the BaseLibrary model</p>
<p>Instead it uses a database that includes classes from both the BaseLibrary model and the BaseLibrary.DemoModel</p>
<div class="bs-callout bs-callout-info">
    <h4>Why BaseLibrary.DemoModel?</h4>
    <p>
        This arrangement is typical when developing a base library. A developer uses the BaseLibrary.DemoModel as
        a test bed for developing the features in the base library.
    </p>
    <p>
        This BaseLibrary.DemoModel extends BaseLibrary model. The <em>Segregated migration</em> strategy using
        auto-migrations is then used to keep this developer database up to date.
    </p>
</div>

<p>To create the database the migration for BaseLibary need to be run. To do this either:</p>

<ul>
    <li>
        Use <code>MultiMigrateDbToLatestVs</code> to automatically create the database when the application is run. <br />
        This is configured in Web.config section <code>entityFramework/contexts</code> in BaseLibrary.Web
    </li>
</ul>
<p><strong>OR</strong></p>
<ul>
    <li>
        Use powershell command:<br />
        <ol>
            <li>
                Run the BaseLibrary migrations:<br />
                <code>Update-Database -ProjectName BaseLibraryMigrations -StartUpProjectName BaseLibrary.Web</code>
            </li>
            <li>
                Run the BaseLibrary.DemoModel migrations:<br />
                <code>Update-Database -ProjectName BaseLibrary.DemoMigrations -StartUpProjectName BaseLibrary.Web -ConnectionStringName DemoDbContext</code>
            </li>
        </ol>
    </li>
</ul>
<p><strong>OR</strong></p>
<ul>
    <li>
        Use migrate.exe tool:<br />
        Run the batch file <code>run_baselibrary_demo_migrations.bat</code> included in the solution
    </li>
</ul>


<p>See <a href="https://msdn.microsoft.com/en-gb/data/jj591621.aspx">Code-first migrations</a> for more information</p>
