@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BaseLibrary uses code-first migration to evolve the database over time</p>
<p>BaseLibrary represents a base component library that will be extended by another library</p>
<p>Migration were added to this project as follows:</p>
<ol>
    <li>
        Enable migrations:<br />
        <code>Enable-Migrations -ProjectName BaseLibraryMigrations -StartUpProjectName BaseLibrary.Web -ContextProjectName BaseLibrary</code>
    </li>
    <li>
        Scalfold a migration for the initial database creation:<br />
        <code>Add-Migration InitialCreate -ProjectName BaseLibraryMigrations -StartUpProjectName BaseLibrary.Web</code>
    </li>
</ol>

<h4>Options for creating the database used by BaseLibrary.Web</h4>

<p>To create the database the migration for BaseLibary need to be run. To do this either:</p>

<ul>
    <li>
        Use a <code>IDatabaseInitializer</code> to automatically create the database when the application is run. <br />
        This is configured in Web.config section <code>entityFramework/contexts</code> in BaseLibrary.Web
    </li>
</ul>
<p><strong>OR</strong></p>
<ul>
    <li>
        Use powershell command:<br />
        <code>Update-Database -ProjectName BaseLibraryMigrations -StartUpProjectName BaseLibrary.Web</code>
    </li>
</ul>
<p><strong>OR</strong></p>
<ul>
    <li>
        Use migrate.exe tool:<br />
        Run the batch file <code>run_baselibrary_migrations.bat</code> included in the solution
    </li>
</ul>


<p>See <a href="https://msdn.microsoft.com/en-gb/data/jj591621.aspx">Code-first migrations</a> for more information</p>
